$btnTransition: 200ms;

@mixin btn-hover($buttonColor, $boxColor) {
    background-color: lighten(saturate($buttonColor, 25%), 5%);
    box-shadow: 0 1px 10px -2px transparentize($boxColor, .2);
}

@mixin btn-focus($focusColor) {
    @include linear-gradient(to right, transparentize($focusColor, 1), $focusColor, transparentize($focusColor, 1));
}

button {
    position: relative;
    display: inline-flex;
    height: 38px;
    padding: 0 20px;
    border-radius: 20px;
    font-size: 16px;
    line-height: 40px;
    text-align: center;
    white-space: nowrap;
    outline: none;
    cursor: pointer;
    box-sizing: content-box;
    text-decoration: none;
    vertical-align: top;
    transition: background-color $btnTransition, box-shadow $btnTransition * 1.5;
    user-select: none;
    overflow: hidden;

    // Standard Button
    color: $white;
    background-color: $button;
    box-shadow: 0 0 0 $button;

    &::before {
        content: '';
        position: absolute;
        display: block;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        opacity: 0;
        transition: opacity $btnTransition;
        @include btn-focus($buttonDarker);
    }

    &:focus {

        &::before {
            opacity: 1;
        }
    }

    &.hover,
    &:hover {
        @include btn-hover($button, $buttonLighter);

        &::before {
            opacity: 0;
        }
    }

    &.btn-white {
        background-color: $white;

        &::before { // Focused BG color
            @include btn-focus(lighten($grayLighter, 5%));
        }

        &.hover,
        &:hover {
            @include btn-hover(lighten($grayLighter, 5%), $white);
        }

        label {
            color: $blueDark;
            text-shadow: 0 0 5px $white,
                         0 0 10px $white,
                         0 0 15px $white;
        }
    }

    &.btn-dark {
        background-color: $blueDark;

        &::before { // Focused BG color
            @include btn-focus(lighten($blueDark, 10%));
        }

        &.hover,
        &:hover {
            @include btn-hover($blueDark, $blue);
        }
    }

    &.btn-approve {
        background-color: $success;

        &::before { // Focused BG color
            @include btn-focus(lighten($success, 10%));
        }

        &.hover,
        &:hover {
            @include btn-hover($success, $success);
        }
    }

    &.btn-decline {
        background-color: $error;

        &::before { // Focused BG color
            @include btn-focus(lighten($error, 10%));
        }

        &.hover,
        &:hover {
            @include btn-hover($error, $error);
        }
    }

    &.btn-ghost {
        color: inherit;
        background-color: transparent;

        &::before { // Focused BG color
            @include btn-focus(transparentize($white, .85));
        }

        &.hover,
        &:hover {
            background-color: transparentize($white, .75);
            box-shadow: none;
        }
    }

    &.btn-hollow { // TODO: Hover on this button is ok, maybe not great though
        height: 36px;
        color: $button;
        line-height: 36px;
        border: 1px solid $button;
        background: transparent;
        transition: border-color $btnTransition;

        &::before { // Focused BG color
            @include btn-focus(transparentize($white, .85));
        }

        &.hover,
        &:hover {
            color: $buttonLighter;
            border-color: $buttonLighter;
            box-shadow: none;

            label {
                text-shadow: 0 0 3px $white,
                             0 0 15px transparentize($white, .5);
            }
        }

        label {
            transition: text-shadow $btnTransition;
            text-shadow: 0 0 0 $button;
        }
    }

    &.btn-google {
        background-color: $googleRed;

        &::before { // Focused BG color
            @include btn-focus(darken($googleRed, 5%));
        }

        &.hover,
        &:hover {
            @include btn-hover($googleRed, $googleRed);
        }

        &.btn-large {

            .icon-google-plus {
                font-size: 26px;
            }
        }

        &.btn-small {

            .icon-google-plus {
                font-size: 16px;
            }
        }

        .icon-google-plus {
            font-size: 20px;
        }
    }

    &.btn-facebook {
        background-color: $facebookBlue;

        &::before { // Focused BG color
            @include btn-focus(darken($facebookBlue, 5%));
        }

        &.hover,
        &:hover {
            @include btn-hover($facebookBlue, $facebookBlue);
        }

        &.btn-large {

            .icon-facebook-f {
                font-size: 24px;
            }
        }

        &.btn-small {

            .icon-facebook-f {
                font-size: 16px;
            }
        }

        .icon-facebook-f {
            font-size: 20px;
        }
    }

    &[disabled] {
        opacity: .5;
        pointer-events: none;

        &::before {
            opacity: 1;
            @include linear-gradient(to bottom, transparentize($grayDarker, .4), transparentize($grayDarker, .6));
        }

        label {
            text-shadow: none;
        }
    }

    &.btn-large {
        height: 50px;
        border-radius: 25px;
        font-size: 20px;
        line-height: 50px;
    }

    &.btn-small {
        height: 26px;
        border-radius: 13px;
        font-size: 11px;
        line-height: 26px;
    }

    &.btn-icon-only {
        flex-grow: 0;
        padding: 0 9px;
    }

    label,
    .icon {
        position: relative;
        flex-grow: 1;
        margin-right: 5px;
        color: inherit;
        text-decoration: none;
        white-space: nowrap;
        line-height: inherit;
        pointer-events: none; // We want the cursor to interact with the button only
        transition: all $btnTransition;
    }

    .icon {
        vertical-align: initial;

        &:last-child {
            margin-right: 0;

            &.icon-btn {
                padding: 0 0 0 5px;
                left: 10px;
                border-right: none;
                border-left: 1px solid transparentize($grayLight, .6);
            }
        }

        &.icon-btn {
            position: relative;
            padding-right: 5px;
            left: -10px;
            border-right: 1px solid transparentize($grayLight, .6);
        }
    }

    label {
        max-width: 100%;
        vertical-align: top;
        font-size: inherit;
        overflow: hidden;
        text-overflow: ellipsis;
        transition: color $btnTransition;

        &:last-child {
            margin-right: 0;
        }
    }

    &[class*=loader] {

        label,
        .icon {
            visibility: hidden;
        }
    }
}
