///////////////////////////
// Master Color List
$white: #FFFFFF;
$grayLighter: #C8C3BC;
$grayLight: #B1A69C;
$gray: #989087;
$grayDark: #635E58;
$grayDarker: #4A4E4B;
$black: #000000;

// Primary Brand Colors
$orangeLight: #fb9963;
$orange: #fe7a35;
$orangeDark: #FE5613;
$green: #d1dcbc;
$blue: #91aa9d;
$blueDark: #183441;

$successLighter: #E9f7E5; // Greens // TODO: Find a nice pallet for these
$successLight: #D6E8C7;
$success: #58A05A;
$successDark: #3E753F;
$successDarker: #1D461D;

$errorLighter: #FDF7F7; // Reds // TODO: Find a nice pallet for these
$errorLight: #EDD3D7;
$error: #B74B4B;
$errorDark: #A21313;
$errorDarker: #8C0000;

$buttonLighter: lighten($orangeLight, 7%);
$buttonLight: $orangeLight;
$button: $orange;
$buttonDark: $orangeDark;
$buttonDarker: darken($orangeDark, 7%);

$facebookBlue: #3765A3;
$twitterBlue: #5EA9DD;
$linkedinBlue: #0274B3;
$googleRed: #DC4A38;
$dribbblePink: #F26798;

///////////////////////////
// Typography Vals - Applied as font-weight
$bold: 900;
$norm: 400;
$light: 300;

///////////////////////////
// Z-Index Distribution
$z-stage: 1;
$z-footer: 200;
$z-modal-mask: 400;
$z-screentip: 600;
$z-header: 800;
$z-header-screentip: 1000;
$z-modal: 1200;
$z-modal-screentip: 1400;
$z-messenger: 1600;

// Mixins

@mixin clearfix() {

    &:after {
        display: table;
        content: '';
        clear: both;
    }
}

@mixin draggable() {
    cursor: grab;

    &.is-grabbing,
    &:active,
    &:focus {
        cursor: grabbing;
    }
}

@mixin linear-gradient($direction, $color-stops...) { // https://www.sitepoint.com/building-linear-gradient-mixin-sass/
    @if is-direction($direction) == false { // Direction has been omitted and happens to be a color-stop
        $color-stops: $direction, $color-stops;
        $direction: 180deg;
    }

    background: nth(nth($color-stops, 1), 1);
    background: -webkit-linear-gradient(legacy-direction($direction), $color-stops);
    background: linear-gradient($direction, $color-stops);
}

@mixin vcenter() {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

@mixin hcenter() {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

@mixin tcenter() {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

@mixin center-image-wrapper() {
    overflow: hidden;
    z-index: $z-stage; // Fixes clipping bug in chrome

    img {
        position: absolute;
        display: block;
        min-width: 100%;
        max-height: 100%;
        top: 50%;
        left: 50%;
        transform: translateX(-50%) translateY(-50%);
    }
}

/// Test if `$value` is a valid direction
/// @param {*} $value - Value to test
/// @return {Bool}
@function is-direction($value) {
    $is-keyword: index((to top, to top right, to right top, to right, to bottom right, to right bottom, to bottom, to bottom left, to left bottom, to left, to left top, to top left), $value);
    $is-angle: type-of($value) == 'number' and index('deg' 'grad' 'turn' 'rad', unit($value));

    @return $is-keyword or $is-angle;
}

/// Convert a direction to legacy syntax
/// @param {Keyword | Angle} $value - Value to convert
/// @require {function} is-direction
/// @require {function} convert-angle
/// @throw Cannot convert `#{$value}` to legacy syntax because it doesn't seem to be a direction.;
@function legacy-direction($value) {
    @if is-direction($value) == false {
        @warn "Cannot convert `#{$value}` to legacy syntax because it doesn't seem to be a direction.";
    }

    $conversion-map: (
        to top          : bottom,
        to top right    : bottom left,
        to right top    : left bottom,
        to right        : left,
        to bottom right : top left,
        to right bottom : left top,
        to bottom       : top,
        to bottom left  : top right,
        to left bottom  : right top,
        to left         : right,
        to left top     : right bottom,
        to top left     : bottom right
    );

    @if map-has-key($conversion-map, $value) {
        @return map-get($conversion-map, $value);
    }

    @return 90deg - $value;
}
