@import '../../../styles/scaffold';

.modal-prompt {

    .modal-content-prompt {
        padding-top: 20px;
        text-align: center;

        .title {
            margin: 0 0 5px;
        }

        > ul {
            display: inline-block;
            margin-bottom: 20px;
            list-style-type: disc;
        }

        li {
            font-size: 20px;
        }
    }

    .modal-prompt-msg {
        margin-bottom: 20px;
        line-height: 20px;
    }

    .modal-prompt-input {
        width: 100%;
        min-height: 44px;
        margin-bottom: 20px;
        box-sizing: border-box;
    }

    .modal-prompt-frame {
        width: 100%;
        max-height: 200px;
        margin-bottom: 20px;
        padding: 20px;
        border-radius: 3px;
        box-shadow: inset 1px 1px 4px transparentize($gray, .6);
        box-sizing: border-box;
        background-color: lighten($grayLighter, 5%);
        text-align: left;
        overflow-x: hidden;
        overflow-y: scroll;
    }

    .btn-container {
        max-width: 200px;
        margin: 0 auto;

        &.is-row {
            display: flex;
            flex-direction: row-reverse;
            justify-content: center;
            max-width: none;

            .btn {
                flex: 1 1 auto;
                margin: 0 5px;
            }
        }

        .btn {
            display: block;
            margin-bottom: 10px;

            &:last-child {
                margin-bottom: 0;
            }
        }
    }
}
