@import '../../../styles/scaffold';

.messenger-message.simple {
    width: 100%;

    &.is-uncloseable {

        .message-simple-close {
            display: none;
        }
    }

    .message-simple-inner {
        display: flex;
        box-sizing: border-box;
        box-shadow: 5px 5px 30px transparentize($black, .85);
        text-align: left;
        @include linear-gradient(to bottom, $grayLight, darken($grayLight, 20%));

        &.error {
            @include linear-gradient(to bottom, lighten($error, 15%), darken($error, 5%));

            .message-simple-icon {
                background: lighten($error, 15%);
            }

            a {
                color: $grayLighter;

                &:hover {
                    color: $grayLight;
                }
            }
        }

        &.success {
            @include linear-gradient(to bottom, lighten($success, 15%), darken($success, 5%));

            .message-simple-icon {
                background: lighten($success, 15%);
            }
        }
    }

    .message-simple-content {
        flex: 1 1 auto;
        padding: 8px 30px 8px 14px;
    }

    .message-simple-title {
        display: block;
        margin: 0;
        color: $white;
        font-size: 15px;
        font-weight: $bold;
        line-height: 20px;
    }

    .message-simple-copy {
        color: $white;
        padding: 5px 0;
        font-size: 14px;
    }

    .message-simple-icon {
        position: relative;
        flex: 0 0 30px;
        padding: 8px 0 8px 0;
        color: $white;
        font-size: 20px;
        pointer-events: none;
        background: transparentize($white, .75);
        float: left;

        &:before {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translateX(-50%) translateY(-50%);
        }
    }

    .message-simple-close {
        position: absolute;
        width: 30px;
        height: 100%;
        padding: 10px;
        top: 0;
        right: 0;
        color: $white;
        cursor: pointer;
        border-left-width: 0;
        box-sizing: border-box;
        transition: background 150ms;

        &:before {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translateX(-50%) translateY(-50%);
        }

        &:hover {
            background: transparentize($white, .8);
        }
    }
}
