@import '../../_blueprint/styles/scaffold';

.page-home-container {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;

    a:not(.btn),
    a:not(.btn) &:visited {
        text-decoration: none;
        color: $blueDarker;

        &:hover {
            color: $grayDark;
            cursor: pointer;
        }
    }

    .page-home-background {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        overflow: hidden;
        z-index: $z-stage - 1;
        background: url('../imgs/page_home_bg.jpg') center center no-repeat;
        background-size: cover;

        &::before { // Background Mask
            content: '';
            position: absolute;
            display: block;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
            background-color: desaturate(darken($blueDarker, 3%), 30%);
            opacity: 0.8;
            z-index: $z-stage;
        }
    }

    .page-home-content {
        position: absolute;
        width: 100%;
        top: 45%;
        left: 0;
        padding: 0 10%;
        box-sizing: border-box;
        transform: translateY(-50%);

        [data-appsize=mobile] & {
            top: 50%;
        }
    }

    .page-home-title {
        margin: 0 auto 80px;
        opacity: 1;

        [data-appsize=mobile] & {
            margin-bottom: 60px;
        }
    }

    .page-home-title-headline {
        position: relative;
        margin: 0 0 20px;
        color: $white;
        font-size: 108px;
        font-weight: $norm;
        text-align: center;

        [data-appsize=mobile] & {
            font-size: 70px;
        }
    }

    .page-home-title-tagline {
        position: relative;
        margin: 0;
        color: $white;
        font-size: 44px;
        font-weight: $norm;
        text-align: center;

        [data-appsize=mobile] & {
            font-size: 30px;
        }
    }

    .page-home-entry {
        position: relative;
        color: $white;
        font-size: 36px;
        text-align: center;

        [data-appsize=mobile] & {
            font-size: 30px;
        }
    }

    .home-entry-form-container {
        display: inline-block;

        [data-appsize=mobile] & {
            display: block;
        }
    }

    .home-entry-form {
        display: flex;

        .btn {
            padding: 0 35px;
            font-size: 16px;
        }

        [data-appsize=mobile] & {
            flex-direction: column;

            .btn {
                display: inline-block;
                padding: 5px 0;
            }
        }
    }

    .home-entry-input {
        flex: 1;
        width: 300px;
        margin: 0 30px;

        .extended-el-text {

            input {
                height: 36px;
                font-size: 30px;
            }
        }

        [data-appsize=mobile] & {
            width: 100%;
            margin: 10px auto 20px;
            padding: 10px 0;
        }
    }

    .home-entry-form-text {
        display: inline-block;
        white-space: nowrap;
    }
}
