@import '../../_blueprint/styles/scaffold';

.candidate-dashboard-companies {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    padding: 20px 30px;
    color: $blueDark;
    background-color: $white;
    box-sizing: border-box;

    .dashboard-companies-title {
        position: relative;
        width: 100%;

        h1 {
            position: relative;
            left: -4px;
            margin: 0;
            font-size: 64px;
            font-weight: $bold;
            text-transform: uppercase;
        }

        h5 {
            margin: 20px 0;
            font-size: 16px;
        }
    }

    .dashboard-companies-components {
        display: flex;
    }

    .dashboard-companies-component {
        position: relative;
        flex: 1;
        height: 252px;
        margin: 0 0 10px;
        padding: 20px 25px 10px;
        border: 1px solid $grayLight;
    }

    .final-component {
        height: 232px;
        padding-top: 40px;
        text-align: center;

        h2 {
            margin: 0 0 30px;
            font-size: 42px;
        }

        .btn {
            margin-top: 20px;
        }
    }

    .dashboard-companies-container {
        position: relative;
        width: 100%;
    }

    .companies-container-header {
        position: relative;
        height: 55px;
        padding: 0 20px;
        background-color: $blueDarker;
        line-height: 55px;
    }

    .companies-container-title {
        color: $white;
        font-size: 24px;

        > span {
            text-transform: uppercase;
        }

        .icon {

        }
    }

    .companies-container-map {

        .icon {

        }
    }

    .companies-list-entry {

    }

    .preferences-toolbar {
        position: relative;
        width: 100%;
        height: 40px;
        padding: 0 20px;
        color: $white;
        background-color: lighten($grayDark, 10%);
        line-height: 40px;
        text-transform: uppercase;
        box-sizing: border-box;
    }

    [class|=preferences-tool] {
        display: inline-block;
        margin-right: 25px;

    }
    .preferences-tool-filters {
        margin-right: 35px;
    }
}
