{% extends 'olympus.html' %}

{% block title %}Consumer Facing Platform{% endblock %}

<script>
{% block vars %}{% endblock %}
</script>

{% block body %}
<body id="Atlas">

<div id="main-body" data-js="app-body" class="is-hidden">
    <div data-js="page-container"></div>
</div>

<!-- Improve initial load appearance -->
<div id="application-loading" data-js="application-loading">
    <label>Loading...</label> <!-- TODO: This should go away. Use some branding, once we know for sure what that is -->
</div>
{% endblock %}

{% block scripts %}
<script type="text/javascript" src="/static/_atlas_app.js"></script>
{% endblock %}
