@import '../../../_blueprint/styles/scaffold';

.screentip-autocomplete {
    background-color: $white;
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.3);
    overflow: hidden;

    .autocomplete-results {
        max-height: 400px;
        overflow-x: hidden;
        overflow-y: auto;
    }

    .autocomplete-item {
        padding: 5px;
        line-height: 1.2em;
        cursor: pointer;

        &:not([disabled]) {

            &:hover {
                color: $blue;
            }

            &.is-selected {
                background-color: $blueLighter;
            }
        }

        &[disabled] {
            color: $gray;
        }
    }
}
