@import '../../../styles/scaffold';

.screentip-contextmenu {
    display: block;
    min-width: 135px;
    max-width: 170px;
    max-height: 400px;
    background-color: $white;
    border: 1px solid $gray;
    border-radius: 4px;
    overflow-y: auto;

    .menu-item {
        display: block;
        padding: 15px 5px;
        overflow: hidden;
        text-align: center;
        text-overflow: ellipsis;
        cursor: pointer;

        &:hover {
            background-color: $grayLighter;
            text-decoration: none;
        }

        &.is-disabled {
            color: $grayLight;
            background-color: $grayLighter;
            pointer-events: none;
        }

        .label {
            white-space: nowrap;
        }
    }

    .menu-break {
        display: block;
        height: 1px;
        margin: 0 8px;
        background-color: $gray;
    }
}
