@import '../../../../_blueprint/styles/scaffold';

.component-roadmap {
    position: relative;

    &.roadmap-light {
        color: $blueDarker;
    }

    h4 {
        margin: 0 0 15px;
        font-size: 26px;
        font-weight: $bold;
    }

    .component-roadmap-list {
        position: relative;

        > li {
            margin-bottom: 20px;
            counter-increment: step-counter;

            &::before {
                content: counter(step-counter);
                position: relative;
                display: inline-block;
                width: 20px;
                height: 20px;
                margin-right: 8px;
                padding-top: 2px;
                color: lighten($gray, 10%);
                background-color: $blueDarker;
                border-radius: 50%;
                font-size: 15px;
                vertical-align: 1px;
                text-align: center;
                z-index: $z-stage + 2;
                box-sizing: border-box;

            }

            &.is-current {
                font-weight: $bold;

                &::before {
                    color: $white;
                }
            }

            &:not(:last-child) {

                &::after {
                    content: '';
                    position: absolute;
                    width: 10px;
                    height: 28px;
                    left: 5px;
                    margin-top: 16px;
                    background-color: lighten($gray, 10%);
                    z-index: $z-stage + 1;
                }
            }
        }

    }

    .component-roadmap-action {
        text-align: center;

        .btn-approve {
            padding: 0 100px;
        }
    }
}
