.collection-list-parent {
    position: relative;
    display: flex;
    flex-direction: column;

    .collection-list {
        flex: 1 1 auto;
        overflow-x: hidden;
        overflow-y: auto;
    }

    .collection-list-inner {
        min-height: 100%;
    }

    .is-empty-caption {
        position: absolute;
        top: 50%;
        left: 50%;
        color: $gray;
        font-size: 18px;
        font-style: italic;
        transform: translate(-50%, -50%);
    }
}
