@import '../../../_blueprint/styles/scaffold';

$innerPad: 6px;
$height: 28px;
$gutterHeight: 16px;
$transitionSpeed: 250ms;

.extended-el-text {
    position: relative;
    display: inline-block;
    cursor: text;

    &.is-underlined,
    &.is-overlined {

        &::before,
        &::after {
            content: '';
            position: absolute;
            display: block;
            height: 2px;
        }

        &::before {
            width: 100%;
            left: 50%;
            background-color: $grayLight;
            transform: translateX(-50%);
            transition: background-color $transitionSpeed;
        }

        &::after {
            width: 0;
            left: 0;
            background-color: $blue;
            transition: width $transitionSpeed * 1.5;
        }

        &.is-focused {

            &::after {
                width: 100%;
            }
        }

        &.is-lighten {

            &::before {
                background-color: $gray;
            }

            &::after {
                background-color: $white;
            }
        }

        input,
        textarea {
            border: 0;
        }
    }

    &.is-underlined {
        padding-bottom: $gutterHeight;

        &.is-swap-line {

            &::before,
            &::after {
                bottom: auto;
                top: -1px;
            }
        }

        &.is-centered {

            .placeholder {
                transform: translateY(50%) translateX(-50%);
            }
        }

        &.is-aligned-right {

            .placeholder {
                transform: translateY(50%) translateX(-100%);
            }
        }

        &::before,
        &::after {
            bottom: $gutterHeight - 1;
        }

        .placeholder {
            bottom: $gutterHeight + ($height / 2);
            transform: translateY(50%);
        }

        .counter {
            bottom: 1px;
        }

        .icon {
            bottom: $gutterHeight + ($height / 2);
            transform: translateY(50%);
        }
    }

    &.is-overlined {
        padding-top: $gutterHeight;

        &.is-swap-line {

            &::before,
            &::after {
                top: auto;
                bottom: -1px;
            }
        }

        &.is-centered {

            .placeholder {
                transform: translateY(-50%) translateX(-50%);
            }
        }

        &.is-aligned-right {

            .placeholder {
                transform: translateY(-50%) translateX(-100%);
            }
        }

        &::before,
        &::after {
            top: $gutterHeight - 1;
        }

        .placeholder {
            top: $gutterHeight + ($height / 2);
            transform: translateY(-50%);
        }

        .counter {
            top: 1px;
        }

        .icon {
            top: $gutterHeight + ($height / 2);
            transform: translateY(-50%);
        }
    }

    &.is-focused {

        &.is-filled {

            .placeholder {
                color: $blue;
            }
        }

        &.is-lighten {

            input,
            textarea,
            .counter,
            .icon {
                color: $white;
            }

            &.is-filled {

                .placeholder {
                    color: $grayLight;
                }
            }
        }

        &.is-white {

            input,
            textarea,
            .counter,
            .icon {
                color: $white;
            }

            &.is-filled {

                .placeholder {
                    color: $grayLight;
                }
            }
        }

        input,
        textarea,
        .counter,
        .icon {
            color: $blue;
        }

        .placeholder {
            color: $grayLight;
        }
    }

    &.is-filled {

        &.is-underlined {

            .placeholder {
                bottom: 1px;
            }
        }

        &.is-overlined {

            .placeholder {
                top: 1px;
            }
        }

        &.is-swap-line {

            .placeholder {
                left: 0;
                font-size: 13px;
            }
        }

        &.is-centered,
        &.is-aligned-right {

            .placeholder {
                transform: translateY(0%) translateX(0%);
            }
        }

        .placeholder {
            left: $innerPad;
            font-size: 10px;
            line-height: 10px;
            color: $gray;
            transform: translateY(0%) translateX(0%);
        }
    }

    &.is-filled-hide-placeholder {

        .placeholder {
            opacity: 0;
            transition: all $transitionSpeed / 2;
        }
    }

    &.is-centered {

        &::after {
            left: 50%;
            transform: translateX(-50%);
        }

        input,
        textarea {
            text-align: center;
        }

        .placeholder {
            left: 50%;
        }
    }

    &.is-aligned-right {

        &::after {
            left: auto;
            right: 0;
        }

        input,
        textarea {
            text-align: right;
        }

        .placeholder {
            left: 100%;
        }

        .icon {
            left: auto;
            right: $innerPad;
        }
    }

    &.is-disabled {
        opacity: .5;
        cursor: not-allowed;

        input {
            pointer-events: none;
        }
    }

    &.is-lighten {

        input,
        textarea {
            color: $grayLight;
        }
    }

    &.is-white {

        input,
        textarea {
            color: $white;
        }
    }

    input,
    textarea {
        width: 100%;
        height: $height;
        padding: 0 $innerPad;
        font-size: 22px;
        color: $grayDark;
        outline: none;
        box-sizing: border-box;
        background: transparent;

        &.is-autocompleted {
            color: $blueLight;
        }
    }

    textarea {
        line-height: $height;
        overflow: hidden;
        resize: none;
        box-sizing: border-box;
    }

    label { // Placeholder and counter
        position: absolute;
        display: block;
        white-space: nowrap;
        pointer-events: none;
    }

    .placeholder {
        left: $innerPad + 1px;
        font-size: 16px;
        color: $gray;
        transition: all $transitionSpeed;
    }

    .counter {
        right: $innerPad;
        font-size: 10px;
        color: $grayLight;
        transition: color $transitionSpeed;
    }

    .icon {
        position: absolute;
        left: $innerPad;
        color: $gray;
    }
}
